ul {
  list-style: none;
  padding: 0;

}

label {
  font-weight: normal;
}
input[type="checkbox"] {
  margin-right: 5px;
}
.btn-delete {
  margin-right: 12px;
  line-height: 14px;
}
.done {
  text-decoration: line-through;
}
