/** Page styles. */

.main {
  padding-bottom: 20px;
  margin-bottom: 86px;
}

.site-footer {
  border-top: 3px solid #f5f5f5;
}

.github-banner {
  position: absolute;
  top: 0;
  right: 0;
  height: 149px;
  width: 149px;
  background: url(images/forkme.png);
  text-indent: -9000px;
}

/** Component styles. */

.shopping-list {
  border-top: 3px solid #f5f5f5;
  .checkbox {
    margin-left: 5px;
    display: inline;
    input[type="checkbox"] {
      visibility: visible;
      &:focus + .checkbox-field:after {
        opacity: 0.3;
        border-color: #cccccc;
      }
      &:focus:checked + .checkbox-field:after {
        opacity: 0.6;
      }
    }
    label {
      padding-left: 30px;
      .checkbox-field {
        top: 4px;
      }
    }
  }
  .btn-delete {
    margin-right: 5px;
    line-height: 12px;
  }
  .purchased {
    text-decoration: line-through;
  }
  .form-group {
    margin: 0 0 10px;
    padding: 0;
  }
  .form-control {
    &:not(:focus) {
      //background: none;
    }
  }
  .form-item {
    display: inline;
    width: inherit;
  }
}
